body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.div1 {
  height: 12vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  height: 88vh;
}

.div2 {
  width: 18%;
  background-color: rgb(196, 134, 52);
}

.main {
  flex: 1;
  background-color: #4a7ccc;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.searchBar {
  width: 300px;
  padding: 8px 12px;
  margin: 20px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.tableContainer {
  max-height: 400px; /* ~8 rows height */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.infoTable {
  width: 100%;
  border-collapse: collapse;
  background: white;
  color: black;
}

.infoTable th,
.infoTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.infoTable th {
  background-color: #0b57d0;
  color: white;
  position: sticky;
  top: 0; /* keeps header fixed */
  z-index: 2;
}

.infoTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
